alias r='cd $(ls -t1d /tmp/git_subtree_test_scratch_* | head -1)'
alias m='cd $(ls -t1d /tmp/git_subtree_test_scratch_* | head -1)/myproject'
alias v='cd $(ls -t1d /tmp/git_subtree_test_scratch_* | head -1)/vendor'
